Author: Marijse

This notebook looks into the ranking tables. 

- player_records_in_event_all_time: This table has the same list 10x for apps

In [1]:
# import the necessary packages
import xml.etree.ElementTree as ET
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

import urllib.request
import requests
import io
import glob

In [2]:
# Set up the database connection wiht Psycopg2
db = psycopg2.connect(dbname='r7', user='postgres')
cursor=db.cursor()

# Set up a database connection using sqlalchemy
engine = create_engine('postgres://postgres:postgres@localhost:5432/r7')

In [31]:
# Define variables
# Define the input and output strings
output_string = '/Users/mvandenb/Documents/Rugby/_10_data_views/'

# Define schemas
schema1 = '_0_original_data'
schema2 = '_1_data_views'
schema3 = '_2_example_analysis'
schema4 = '_3_all_time_records'

In [32]:
cursor.execute("CREATE SCHEMA IF NOT EXISTS " + schema1)
cursor.execute("CREATE SCHEMA IF NOT EXISTS " + schema2)
cursor.execute("CREATE SCHEMA IF NOT EXISTS " + schema3)
cursor.execute("CREATE SCHEMA IF NOT EXISTS " + schema4)
db.commit()

### Load data

In [17]:
df = pd.read_sql_query("select distinct(method) from _0_original_data.player_records_in_event_all_time",db)
method_list = df['method'].tolist()
method_list

['DG', 'Points', 'Red', 'Apps', 'Pen', 'Try', 'Yellow', 'Con']

In [33]:
for k in method_list:
    # We select the data for the specified method
    df = pd.read_sql_query("select * from _0_original_data.player_records_in_event_all_time WHERE method = '"+k+"'", db)
    
    # We drop the index from the table
    df = df.drop({'method'},axis = 1)
    
    # We extract the maximum number of top players for any given list within the table
    top_length = (df.groupby(['tournament_id'])['personname'].count().to_frame()).personname.max()
    
    # Create a list for the length of the table (method)
    list1 = range(1,top_length+1)
    
    # We create an empty df with an index equal in length to the longest list in the table
    player_recs = pd.DataFrame({'index':list1})
    
    # We loop through the different tournaments and append them to the right of the empty dataframe
    for m in list(df.tournament_id.unique()):
        # We extract data for one tournament at the time
        tournament = df[df['tournament_id'] == m]
        # We set the tournament id to string
        m = str(m)
        # We count the number of records in the method in the tournament
        top_list = len(tournament)
        # We rename the columns in the df to reference the tournament id
        tournament = tournament.rename(columns={'record':'record_'+m, 'personid':'personid_'+m,'personname':'personname_'+m})
        # We drop the tournament id from the df
        tournament = tournament.drop({'tournament_id'}, axis = 1)
        # We add an index to the df which equals the length of list1 +1 as previously defined. 
        tournament['index'] = range(1,top_list+1)
        # We add the df to the previously defined player_recs dataframe
        player_recs = pd.merge(player_recs, tournament, on = 'index')
        
        # Save last tournament df to sql as for the all time records, the records will be the same for all events. 
        table_name = 'player_records_in_event_all_time_' + k
        tournament.to_sql(schema=schema4, con=engine, if_exists='replace', name=table_name)
        db.commit()
player_recs
#tournament

,index,personid_1611,personname_1611,record_1611,personid_1612,personname_1612,record_1612,personid_1613,personname_1613,record_1613,...,record_1690,personid_1691,personname_1691,record_1691,personid_1692,personname_1692,record_1692,personid_1693,personname_1693,record_1693
0,1,26000,Ben Gollings,773,26000,Ben Gollings,773,26000,Ben Gollings,773,...,773,26000,Ben Gollings,773,26000,Ben Gollings,773,26000,Ben Gollings,773
1,2,52816,Tomasi Cama,649,52816,Tomasi Cama,649,52816,Tomasi Cama,649,...,649,52816,Tomasi Cama,649,52816,Tomasi Cama,649,52816,Tomasi Cama,649
2,3,8041,Waisale Serevi,456,8041,Waisale Serevi,456,8041,Waisale Serevi,456,...,456,8041,Waisale Serevi,456,8041,Waisale Serevi,456,8041,Waisale Serevi,456
3,4,30771,Colin Gregor,448,30771,Colin Gregor,448,30771,Colin Gregor,448,...,448,30771,Colin Gregor,448,30771,Colin Gregor,448,30771,Colin Gregor,448
4,5,52312,James Stannard,405,52312,James Stannard,405,52312,James Stannard,405,...,405,52312,James Stannard,405,52312,James Stannard,405,52312,James Stannard,405
5,6,23925,Pedro Leal,386,23925,Pedro Leal,386,23925,Pedro Leal,386,...,386,23925,Pedro Leal,386,23925,Pedro Leal,386,23925,Pedro Leal,386
6,7,24051,Lolo Lui,385,24051,Lolo Lui,385,24051,Lolo Lui,385,...,385,24051,Lolo Lui,385,24051,Lolo Lui,385,24051,Lolo Lui,385
7,8,31673,Lavin Asego,379,31673,Lavin Asego,379,31673,Lavin Asego,379,...,379,31673,Lavin Asego,379,31673,Lavin Asego,379,31673,Lavin Asego,379
8,9,43088,Madison Hughes,354,43088,Madison Hughes,354,43088,Madison Hughes,354,...,354,43088,Madison Hughes,354,43088,Madison Hughes,354,43088,Madison Hughes,354
9,10,32149,Nathan Hirayama,347,32149,Nathan Hirayama,347,32149,Nathan Hirayama,347,...,347,32149,Nathan Hirayama,347,32149,Nathan Hirayama,347,32149,Nathan Hirayama,347
10,11,39659,Branco Du Preez,347,39659,Branco Du Preez,347,39659,Branco Du Preez,347,...,347,39659,Branco Du Preez,347,39659,Branco Du Preez,347,39659,Branco Du Preez,347